<%# <%= render "form", cocktail: @cocktail %> 

<div class="container-create-form" style="justify-content-center">
    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :doses, collection: Dose::DESCRIPTION, label: "Liqour" %>
        <%= f.input :amount, collection: Dose::TIMES, label: "Number of doses" %>
        <%= f.input :ingredients, collection: Ingredient::NAMES, label: "Ingredient" %>
        <%= f.input :photo, as: :file, label: "Image of cocktail" %>
        <%= f.submit "Make new Cocktail", class: "btn btn-primary w-100 mt-2" %>
    <% end %>
    <%= link_to 'Home Page', cocktails_path, class:"btn btn-success w-100 mt-2"%>
</div>