<%# <%= render "form", cocktail: @cocktail %> 

<div class="container-create-form" style="justify-content-center">
    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :doses, collection: Dose::DESCRIPTION, label: "Liqour" %>
        <%= f.input :doses, collection: Dose::TIMES, label: "Number of doses" %>
        <%= f.input :ingredients, collection: Ingredient::NAMES, label: "Ingredient" %>
        <%= f.input :image, as: :file, label: "Image of cocktail" %>
        <%= f.submit "Make new Cocktail", class: "btn btn-primary" %>
    <% end %>
</div>
<%= link_to 'Back', cocktails_path %>