<%# <%= render "form", cocktail: @cocktail %> 

<div class="container-create-form" style="justify-content-center">
    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :doses, collection: Dose::TIMES, label: false %>
        <%= f.input :ingredients %>
        <%= f.submit "Make new Cocktail", class: "btn btn-primary" %>
    <% end %>
</div>
<%= link_to 'Back', cocktails_path %>